<div>
<div class="card" style="width: 25rem;">

<div class="card-header" >
  <h2>Edit Password <% resource_name.to_s.humanize %></h2>
</div>

<div class="card-body">

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

    <div class="mb-3">
      <!-- TODO obfuscate email -->
      <%= f.email_field :email, autofocus: true, autocomplete: "email",  class:"field form-control", placeholder:"Enter email" %>
    </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="mb-3">
    <p>
    <%= f.password_field :current_password, class:"field form-control", placeholder: "Current password" %>
  </div>
  
  <% if @minimum_password_length %>
      <br />
      <em><%= @minimum_password_length %> characters minimum</em>
    <% end %>

  <div class="mb-3">
    <%= f.password_field :password, class:"field form-control", placeholder: "New password" %>
    
  </div>

  <div class="mb-3">
    <%= f.password_field :password_confirmation, class:"field form-control", placeholder: "Confirm new password" %>
  </div>

  

  <div class="actions">
    <%= f.submit class:"btn btn-warning" %>
  </div>
  </div>
<% end %>
</div>
</br>

<div>
<div class="card" style="width: 25rem;">

  <div class="card-header">
    <h3>Delete Account?</h3>
  </div>
  <div class="card-body">

    <div class="mb-3">
      <p>This can't be undone!</p>
        <%= button_to "Burn Everything", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class:"btn btn-outline-danger" %></p>
        <%= link_to "Never mind, take me back", :back, class:"btn btn-warning" %>
    </div>
  </div>
</div>
</div>


