<div class="card-body"
  <%= form_tag portfolios_path, :method => 'POST' do %>
    <%= text_field_tag 'ticker', nil, placeholder:"Stock Symbol" %>
    <%= submit_tag 'Lookup', class:"btn btn-warning"%>
  <% end %>
<!-- <%= "#{}" %> -->
</div>

<div class="card-header" style="">
<h1>Portfolio Index</h1>
</div>
  <table>

  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Buy date</th>
        <th scope="col">Amount</th>
        <th scope="col">Buy price</th>
        <th scope="col">Note</th>
        <th scope="col">User</th>
        <th scope="col">Current PPS</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
    <% @portfolios.each do |portfolio| %>

      <% if portfolio.user == current_user %> <!-- TODO fix so not visible by manually entering portfolio route --!>

      <tr>
        <td><%= link_to portfolio.name, portfolio, class:"btn btn-warning" %></td>
        <td><%= portfolio.buy_date.strftime('%m/%d/%Y')%></td>
        <td><%= portfolio.amount %></td>
        <td>$<%= portfolio.buy_price %></td>
        <td><%= portfolio.note %></td>
        <td><%= portfolio.user_id %></td>
        <td><% @iex %>

            <% stock = StockQuote::Stock.quote("#{portfolio.name}") %> <!-- if name not found produces error -->
            $<%= stock.latest_price %></td>
               <!-- <% @stock %> -->
               <!-- $<%= @stock.inspect %></td> maybe find way to put this logic in controller -->
        <td>
    
       

        <%= link_to 'Show', portfolio, class:"btn btn-warning" %>
        <%= link_to 'Edit', edit_portfolio_path(portfolio), class:"btn btn-warning" %>
        <%= link_to 'Delete', portfolio, class:"btn btn-outline-danger", method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
      <% end %>
    <% end %>
  </tbody>
  </table>

  <br>

  <%= link_to 'Add New Portfolio', new_portfolio_path, class:"btn btn-warning" %>

 
