<div class="card" style="width: 18rem;">

  <div class="card-header" >
      <h2><strong>Name:</strong>
      <%= @portfolio.name %></h2>
  </div>  
  <div class="card-body">
    
      <p class="card-text">
      <p>
      <strong>Buy date:</strong>
      <%= @portfolio.buy_date %>
      </p>
      <p>
      <strong>Amount:</strong>
      <%= @portfolio.amount %>
      </p>
      <p>
      <strong>Buy price:</strong>
      <%= @portfolio.buy_price %>
      </p>
      <p>
      <strong>Note:</strong>
      <%= @portfolio.note %>
      </p>
      </p>

      <%= link_to 'Edit', edit_portfolio_path(@portfolio), class:"btn btn-warning" %>
      <%= link_to 'Show All', portfolios_path, class:"btn btn-warning" %>
      <%= link_to 'Delete', portfolio_path(@portfolio), method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-warning" %>
  </div>

</div>








 

